<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Two way data binding Component
    </h3>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Without ngModel
    </h3>
  </div>
  <div class="panel-body">
    <input type="text" [value]="username" (input)="username=$event.target.value"/>
    <p>Hello {{username}}</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      With ngModel
    </h3>
  </div>
  <div class="panel-body">
    <input type="text"  [(ngModel)]="usernameWithNgModel" />
    <p>Hello {{usernameWithNgModel}}</p>
  </div>
</div>
