.banner {
    position: relative;
    padding: 50px 0 30px;
}

.banner .tech-icon {
    height: 240px;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.24));
}

.banner .tech-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 70px;
    margin: 0 0;
}

.banner .author-name {
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    margin: 10px 0 0;
}

.col-center {
    float: none !important;
    margin: 0 auto;
}

#content p {
    font-size: 15px;
    color: #2b2b2b;
    text-align: justify;
    margin-bottom: 12px;
}

.list-arrow {
    list-style: outside none none;
}

.list-arrow li:before {
    content: '\f2fb';
    font-size: 25px;
    font-family: "Material-Design-Iconic-Font";
    vertical-align: middle;
    margin: 0 5px;
}

.list-arrow li {
    color: #2b2b2b;
    font-size: 15px;
}

pre {
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
}